In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('decomposition_results.csv')

In [5]:
data.head()

        CoV Gesture        MDR  Pulses Subject
0  0.244032   pinch  18.568259     470     S04
1  0.239131   pinch   9.560678     242     S04
2  0.287116   pinch  14.533506     368     S04
3  0.231538   pinch   8.375551     212     S04
4  0.222923   pinch   8.489815     215     S04

In [33]:
d_subject = data.copy()
d_subject['is_pinch'] = 0
d_subject['is_grip'] = 0
d_subject.loc[d_subject['Gesture'] == 'pinch', 'is_pinch'] = 1
d_subject.loc[d_subject['Gesture'] == 'grip', 'is_grip'] = 1
agg_funs = ['mean', 'std']
d_subject_grouped = d_subject.groupby('Subject').agg({'CoV': agg_funs, 'MDR': agg_funs,
                                                      'Pulses': agg_funs, 'is_pinch': 'sum', 'is_grip': 'sum'}).round(2)

d_subject_grouped

          CoV          MDR        Pulses        is_pinch is_grip
         mean   std   mean   std    mean    std      sum     sum
Subject
S04      0.22  0.05  12.34  3.09  312.57  78.26       10      83
S05      0.23  0.07   8.27  1.81  209.00  45.72        0       9
S06      0.20  0.06   9.94  2.44  251.17  61.67       18      18
S07      0.24  0.05  12.37  3.78  313.14  95.59       34      53

In [34]:
d_subject_grouped['CoV_tmp'] = '$' + d_subject_grouped['CoV']['mean'].astype(str) + '\pm' + d_subject_grouped['CoV']['std'].astype(str) + '$'
d_subject_grouped['MDR_tmp'] = '$' + d_subject_grouped['MDR']['mean'].astype(str) + '\pm' + d_subject_grouped['MDR']['std'].astype(str) + '$'
d_subject_grouped['Pulses_tmp'] = '$' + d_subject_grouped['Pulses']['mean'].astype(str) + '\pm' + d_subject_grouped['Pulses']['std'].astype(str) + '$'
d_subject_grouped['MUs (pinch/grip)'] = (d_subject_grouped['is_pinch']['sum'] + d_subject_grouped['is_grip']['sum']).astype(str) + ' (' + d_subject_grouped['is_pinch']['sum'].astype(str) + '/' + d_subject_grouped['is_grip']['sum'].astype(str) + ')'

col_names = ['CoV', 'MDR', 'Pulses']
d_subject_grouped.drop(columns=col_names + ['is_pinch', 'is_grip'], inplace=True)

d_subject_grouped.columns = col_names + ['MUs (pinch/grip)']
d_subject_grouped.reset_index(inplace=True)

d_subject_grouped

  Subject            CoV             MDR            Pulses MUs (pinch/grip)
0     S04  $0.22\pm0.05$  $12.34\pm3.09$  $312.57\pm78.26$       93 (10/83)
1     S05  $0.23\pm0.07$   $8.27\pm1.81$   $209.0\pm45.72$          9 (0/9)
2     S06   $0.2\pm0.06$   $9.94\pm2.44$  $251.17\pm61.67$       36 (18/18)
3     S07  $0.24\pm0.05$  $12.37\pm3.78$  $313.14\pm95.59$       87 (34/53)

In [37]:
print(d_subject_grouped[['Subject', 'MUs (pinch/grip)', 'Pulses', 'CoV', 'MDR']].to_latex(index=False, escape=False))

\begin{tabular}{lllll}
\toprule
Subject & MUs (pinch/grip) &            Pulses &            CoV &             MDR \\
\midrule
    S04 &       93 (10/83) &  $312.57\pm78.26$ &  $0.22\pm0.05$ &  $12.34\pm3.09$ \\
    S05 &          9 (0/9) &   $209.0\pm45.72$ &  $0.23\pm0.07$ &   $8.27\pm1.81$ \\
    S06 &       36 (18/18) &  $251.17\pm61.67$ &   $0.2\pm0.06$ &   $9.94\pm2.44$ \\
    S07 &       87 (34/53) &  $313.14\pm95.59$ &  $0.24\pm0.05$ &  $12.37\pm3.78$ \\
\bottomrule
\end{tabular}

In [42]:
d_hand = data.copy()
d_hand.drop(columns=['Subject'], inplace=True)
d_hand['MUs'] = 1

d_hand_grouped = d_hand.groupby('Gesture').agg({'CoV': agg_funs, 'MDR': agg_funs,
                                                'Pulses': agg_funs, 'MUs': 'sum'}).round(2)
d_hand_grouped

          CoV          MDR        Pulses         MUs
         mean   std   mean   std    mean    std  sum
Gesture
grip     0.23  0.05  12.52  3.43  317.01  86.95  163
pinch    0.22  0.06   9.92  2.62  251.00  66.32   62

In [43]:
d_hand_grouped['CoV_tmp'] = '$' + d_hand_grouped['CoV']['mean'].astype(str) + '\pm' + d_hand_grouped['CoV']['std'].astype(str) + '$'
d_hand_grouped['MDR_tmp'] = '$' + d_hand_grouped['MDR']['mean'].astype(str) + '\pm' + d_hand_grouped['MDR']['std'].astype(str) + '$'
d_hand_grouped['Pulses_tmp'] = '$' + d_hand_grouped['Pulses']['mean'].astype(str) + '\pm' + d_hand_grouped['Pulses']['std'].astype(str) + '$'
d_hand_grouped['MUs_tmp'] = d_hand_grouped['MUs']['sum']

col_names = ['CoV', 'MDR', 'Pulses', 'MUs']
d_hand_grouped.drop(columns=col_names, inplace=True)

d_hand_grouped.columns = col_names
d_hand_grouped.reset_index(inplace=True)

d_hand_grouped

  Gesture            CoV             MDR            Pulses  MUs
0    grip  $0.23\pm0.05$  $12.52\pm3.43$  $317.01\pm86.95$  163
1   pinch  $0.22\pm0.06$   $9.92\pm2.62$   $251.0\pm66.32$   62

In [44]:
print(d_hand_grouped[['Gesture', 'MUs', 'Pulses', 'CoV', 'MDR']].to_latex(index=False, escape=False))

\begin{tabular}{lrlll}
\toprule
Gesture &  MUs &            Pulses &            CoV &             MDR \\
\midrule
   grip &  163 &  $317.01\pm86.95$ &  $0.23\pm0.05$ &  $12.52\pm3.43$ \\
  pinch &   62 &   $251.0\pm66.32$ &  $0.22\pm0.06$ &   $9.92\pm2.62$ \\
\bottomrule
\end{tabular}