In [1]:
import pandas as pd

In [6]:
data = pd.read_csv('tracking_results.csv')
data.head()

   Pulses Source Type Subject
0    2470       mixed     S04
1    1324        grip     S04
2     857       mixed     S04
3     857        grip     S04
4     454        grip     S04

In [7]:
d_subject = data.copy()
d_subject.drop(columns=['Pulses'], inplace=True)

d_subject['is_mixed'] = d_subject['is_grip'] = d_subject['is_pinch'] = 0
d_subject['sum'] = 1

d_subject.loc[d_subject['Source Type'] == 'mixed', 'is_mixed'] = 1
d_subject.loc[d_subject['Source Type'] == 'grip', 'is_grip'] = 1
d_subject.loc[d_subject['Source Type'] == 'pinch', 'is_pinch'] = 1

d_subject.head(10)

  Source Type Subject  is_mixed  is_grip  is_pinch  sum
0       mixed     S04         1        0         0    1
1        grip     S04         0        1         0    1
2       mixed     S04         1        0         0    1
3        grip     S04         0        1         0    1
4        grip     S04         0        1         0    1
5        grip     S04         0        1         0    1
6       pinch     S04         0        0         1    1
7       mixed     S04         1        0         0    1
8        grip     S04         0        1         0    1
9        grip     S04         0        1         0    1

In [20]:
d_subject_grouped = d_subject.groupby('Subject').agg('sum')
d_subject_grouped.reset_index()
d_subject_grouped.columns = ['Mixed', 'Grip', 'Pinch', 'Total']


d_subject_grouped = pd.concat({'MUs': d_subject_grouped}, axis=1)


d_subject_grouped

          MUs
        Mixed Grip Pinch Total
Subject
S04         3   17     1    21
S05         0    3     0     3
S06         5    2     1     8
S07         2    6     6    14

In [21]:
print(d_subject_grouped.to_latex())

\begin{tabular}{lrrrr}
\toprule
{} & \multicolumn{4}{l}{MUs} \\
{} & Mixed & Grip & Pinch & Total \\
Subject &       &      &       &       \\
\midrule
S04     &     3 &   17 &     1 &    21 \\
S05     &     0 &    3 &     0 &     3 \\
S06     &     5 &    2 &     1 &     8 \\
S07     &     2 &    6 &     6 &    14 \\
\bottomrule
\end{tabular}

In [33]:
d_type = data.copy()
d_type.drop(columns=['Subject'], inplace=True)
d_type['MUs'] = 1

d_type_grouped = d_type.groupby('Source Type').agg({'Pulses': ['mean', 'std'], 'MUs': 'sum'}).round(2)

d_type_grouped['Pulses_tmp'] = '$' + d_type_grouped['Pulses']['mean'].astype(str) + '\pm' + d_type_grouped['Pulses']['std'].astype(str) + '$'
d_type_grouped['MUs_tmp'] = d_type_grouped['MUs']['sum']

col_names = ['Pulses', 'MUs']
d_type_grouped.drop(columns=col_names, inplace=True)
d_type_grouped.columns = col_names

d_type_grouped.reset_index(inplace=True)

d_type_grouped

  Source Type              Pulses  MUs
0        grip  $1095.39\pm582.78$   28
1       mixed   $1375.1\pm745.17$   10
2       pinch   $670.25\pm348.16$    8

In [34]:
print(d_type_grouped[['Source Type', 'MUs', 'Pulses']].to_latex(index=False, escape=False))

\begin{tabular}{lrl}
\toprule
Source Type &  MUs &              Pulses \\
\midrule
       grip &   28 &  $1095.39\pm582.78$ \\
      mixed &   10 &   $1375.1\pm745.17$ \\
      pinch &    8 &   $670.25\pm348.16$ \\
\bottomrule
\end{tabular}